<div id="bar" style="position:absolute;width: 100%;left:0; top:0;z-index:99999;display: @display"><MudProgressLinear Color="Color.Primary" Indeterminate="true" /></div>

@code {
    [Parameter]
    public string display { get; set; }
}
