@page "/tournamentrules"
<PageTitle>kTVCSS @@ Правила турниров</PageTitle>

<MudGrid Justify="Justify.Center">
    <MudItem xs="12" md="9">
        <MudPaper Elevation="4" Class="pa-4">
            <center>
                <h1>Турнирные правила проекта</h1>
            </center>
            <MudDivider Class="my-2" />
            <p><span style="color: #ff0000;"><em>Команды-участники турниров автоматически соглашаются с приведенными ниже правилами. Любые спорные ситуации, которые не указаны в правилах, будут решены администрацией турнира на их усмотрение.</em></span></p>
            <p>&nbsp;</p>
            <h2>Участие в турнире</h2>
            <p>Команды, участвующие в турнирах от kTVCSS, должны состоять максимум из <span style="text-decoration: underline;">10</span> человек, причём пятеро из них это основа, а остальные - резерв. <span style="text-decoration: underline;">Состав должен быть окончательно сформирован в день, предшествующий началу турнира</span>.</p>
            <h2>Проведение матчей</h2>
            <p>Команды должны явиться на матч в указанное в расписании матчей дату и время. <span style="text-decoration: underline;">Допускаются опоздания команд на 20 минут</span>.<br />В случае неявки игроков одной из команд в течение 20 минут после начала матча, команда получает техническое поражение. Однако, по обоюдному желанию команды могут начать матч без опоздывающих игроков, если это позволяет сделать система. <strong>Недопустимо, когда у команды есть игрок, которого нет в заявке или он из другой команды</strong>.<br />В случае bo3 или bo5 матчей допускаются десятиминутные перерывы между картами. В случае истечения времени на перерыв команда имеет право запустить матч в форматах 4x5 или 3x5. В иных случаях ставится техническое поражение за карту (не за матч).</p>
            <p><strong>Список официальных карт турниров kTVCSS:</strong></p>
            <ul>
                <li>de_dust2_ob</li>
                <li>de_inferno_ob</li>
                <li>de_overpass_csgo</li>
                <li>de_tuscan</li>
                <li>de_nuke_old_blue_ep</li>
                <li>de_cache_csgo</li>
                <li>de_mirage_csgo_v2</li>
                <li>de_season</li>
            </ul>
            <p><strong>Порядок определения карт</strong><br />Игровые карты определяются методом вычёркивания и пиков перед началом матча. На сервере необходимо написать в чат <strong>!bo1</strong> или <strong>!bo3</strong>, далее система сделает все за Вас, нужно лишь читать сообщения от сервера о том, кому необходимо банить или пикать ту или иную карту.</p>
            <p><strong>Пауза</strong><br />Для команд доступны суммарно четыре тактических (<strong>!pause</strong>) и две технических (<strong>!pause5</strong>) пауз. Во время перерыва между половинами активируется команда sv_pausable 1 - данная пауза является стандартной для игрового движка. Такая пауза должна длиться не более 10 минут.</p>
            <p><strong>POV-демо</strong><br />Любая команда вправе потребовать у любого количества игроков противоположной команды POV-демо (далее - демо). В случае требования демо, игрок(-и) должны в течение минуты начать запись и <span style="text-decoration: underline;">предоставить её соперникам не позднее одних суток</span>. В случае отказа или не предоставления демо, команде ставится техническое поражение.</p>
            <h2>Завершение матча</h2>
            <p><strong>Протест</strong><br />В случае если команда уверена в нарушении правил оппонентами, она имеет право подать протест. <strong>Протест подаётся в течении 90 минут после завершения матча</strong>. Через 90 минут исход матча будет автоматически зачтен, и любые протесты приниматься не будут. Протест может подать исключительно проигравшая команда. Все протесты будут рассмотрены в течение 24 часов после подачи протеста. Решение администрации не подлежит обсуждению.</p>
            <p><strong>Перенос матча</strong><br /><span style="text-decoration: underline;">Перенос матча допускается в случае если команда сообщила об этом не менее чем за 12 часов до начала игры</span>, имея на этот счёт уважительные причины. Сообщив администрации о переносе матча, команда должна договориться о новой дате проведения матча с их оппонентами. Перенос матча возможен лишь на следующий день.</p>
            <p><strong>Нарушения</strong></p>
            <ul>
                <li>Запрещены <span style="text-decoration: underline;">легкие оскорбления</span>, касающиеся лично игрока или команды (<span style="color: #ff0000;">отключение чата обеим командам, кроме капитанов</span>).</li>
                <li>Запрещены <span style="text-decoration: underline;">жесткие оскорбления</span>, касающиеся родственников и близких игрока (<span style="color: #ff0000;">нарушитель будет заблокирован на три месяца</span>).</li>
                <li>Запрещена пропаганда в игровом чате <span style="text-decoration: underline;">терроризма, нацизма, насилия</span> и так далее (<span style="color: #ff0000;">нарушитель будет пожизненно заблокирован</span>).</li>
                <li>Запрещены цветные модели игроков и неоновые модели оружия (<span style="color: #ff0000;">за нарушение команде ставится техническое поражение, а нарушителю блокировка на 3 недели</span>).</li>
                <li>Запрещено любое <span style="text-decoration: underline;">стороннее программное обеспечение</span>, которое может дать незаслуженное преимущество игроку или команде. Использование подобного классифицируются как читерство (<span style="color: #ff0000;">команда снимается с турнира, а нарушителю пожизненный бан</span>).</li>
                <li>Запрещена установка бомбы таким образом, чтобы ее невозможно было разминировать (<span style="color: #ff0000;">техническое поражение</span>).</li>
                <li>Запрещено разминирование бомбы через текстуры (<span style="color: #ff0000;">техническое поражение</span>).</li>
                <li>За отказ от переигровки матча, который был аннулирован или перенесён администрацией или командами, <span style="color: #ff0000;">команда блокируется на полгода</span>.</li>
                <li>Запрещен <span style="text-decoration: underline;">баг с дымом на видеокартах NVIDIA</span> (<span style="color: #ff0000;">команда снимается с турнира, а нарушитель блокируется навсегда</span>).</li>
                <li>Запрещено <span style="text-decoration: underline;">использование багов карт</span>, например, на карте dust2 просмотр через текстуру окна на "длине", подсадка на текстуры на карте tuscan в "кухне" (<span style="color: #ff0000;">техническое поражение</span>).</li>
                <li>Запрещено использование особенности игры, заключающейся в <span style="text-decoration: underline;">перезагрузке звуков по нажатию на горячую клавишу</span> (bind), поскольку это дает преимущество в особых игровых случаях (<span style="color: #ff0000;">техническое поражение</span>).</li>
            </ul>
        </MudPaper>
    </MudItem>
</MudGrid>