@page "/about"

<PageTitle>kTVCSS @@ О проекте</PageTitle>

<MudGrid Justify="Justify.Center">
    <MudItem xs="12" md="10">
        <MudPaper Elevation="4" Class="pa-4">
            <h3>kTVCSS - игровой проект по CSSv34, основанный в 2013 году, занимающийся проведением турниров, созданием видео-контента, трансляциями турнирных матчей и прочего. Начиная с 2023 года был создан сайт, в котором появился подбор матчей (матчмейкинг). Летом 2024 года вышла новая версия нашего сайта, включающая в себя ряд улучшений, исправлений и значительных изменений.&nbsp;</h3>
            <h3>&nbsp;</h3>
            <h3>На сайте можно найти игру, используя подбор матчей, создать или вступить в команду, посмотреть детальную статистику игроков, детали прошедших матчей и другое, что есть на других аналогичных ресурсах.&nbsp;</h3>
            <h3>&nbsp;</h3>
            <h3>Вся разработка сайта и собственного обработчика матчей ведется лишь одним человеком, поэтому не кидайтесь гнилыми помидорами, если Вы встретите той или иной баг. Проект всегда прислушивается к предложениям и замечаниям, поэтому можете смело обращаться к создателю проекта (ну или к администрации проекта) - их можно найти на странице "Контакты" на сайте.</h3>
            <h3>&nbsp;</h3>
            <h3>Все ресурсы проекта находятся на физическом сервере (характеристики: <strong>Intel Core i7 7700k, 8 CPU, 16Gb DDR4, 240Gb SSD)</strong>, который защищен от DDoS атак по всем критерям модели OSI. Сайт написан на языке C# с использованием технологии Blazor, а СУБД - Microsoft SQL Server. Если Вы являетесь разработчиком, у которого есть опыт в этом стеке технологий, и Вы готовы помочь проекту, обращайтесь!&nbsp;</h3>
        </MudPaper>
    </MudItem>
</MudGrid>