@page "/rules"
@using MudBlazor

<MudGrid Justify="Justify.Center">
    <MudItem xs="12" md="9">
        <MudPaper Elevation="4" Class="pa-4">
            <center>
                <h1>Общие правила проекта</h1>
            </center>
            <MudDivider Class="my-2" />
            <MudText Typo="Typo.h5"></MudText>
            <MudText Typo="Typo.h5">1. Общие положения</MudText>
            <MudText Typo="Typo.body1">
                1.1 Проект - сайт <strong>ktvcss.ru</strong>, группа ВК vk.com/ktvcss, игровые серверы kTVCSS, сервер TeamSpeak3 kTVCSS.
            </MudText>
            <br>
            <MudText Typo="Typo.body1">
                1.2 Администратор - человек, который модерирует Проект, имеет определенные полномочия.
            </MudText>
            <br>
            <MudText Typo="Typo.body1">
                1.3 Игрок / Пользователь - человек, который посещает Проект.
            </MudText>
            <br>
            <MudText Typo="Typo.body1">
                1.4 Аккаунт - учетная запись Пользователя на сайте ktvcss.ru.
            </MudText>
            <br>
            <MudText Typo="Typo.body1">
                1.5 Стороннее ПО - стороннее программное обеспечение, которое применяется к игре Counter Strike, дающее преимущество в игре (читы, хаки и тд).
            </MudText>
            <br>
            <MudText Typo="Typo.body1">
                1.6 Читер - Игрок, который использует Стороннее ПО.
            </MudText>
            <br>
            <MudText Typo="Typo.body1">
                1.7 Matchmaking - система подбора игроков в матче для игры на Проекте.
            </MudText>
            <br>
            <br>
            <MudText Typo="Typo.h5">2. Правила пребывания на проекте.</MudText>
            <MudText Typo="Typo.body1">
                2.1 Находясь на Проекте и использование ресурсов Проекта, Вы (Пользователь) соглашаетесь с настоящими правилами Проекта.
            </MudText>
            <br>
            <MudText Typo="Typo.body1">
                2.2 Регистрируясь на сайте ktvcss.ru, вы даёте свое согласие на обработку персональных данных (Имя, Фамилия, VKID, STEAMID) в целях публикации информации об ваших игровых данных и присвоения идентификационного номера вашего профиля.
            </MudText>
            <br>
            <MudText Typo="Typo.body1">
                2.3 Никнеймы, выбор аватара и шапки профиля на сайте ktvcss.ru является исключительным правом Пользователя, но есть некоторые ограничения. Администратор оставляет за собой право приостановить возможность использования аккаунта, если он так или иначе нарушает следующие пункты:
            </MudText>
            <br>
            <MudText Typo="Typo.body1">
                2.3.1 Наличие какого-либо адреса сайта с рекламой стороннего ресурса.
            </MudText>
            <br>
            <MudText Typo="Typo.body1">
                2.3.2 Использование не имеющих смысла наборов символов в никнейме.
            </MudText>
            <br>
            <MudText Typo="Typo.body1">
                2.3.3 Никнейм/аватар/шапка профиля и другие элементы профиля пользователя не должны являться оскорбительными, содержать нецензурный контент, рекламу.
            </MudText>
            <br>
            <br>
            <MudText Typo="Typo.h5">3. Общие правила и запреты на Проекте.</MudText>
            <MudText Typo="Typo.body1">
                3.1 На сайте ktvcss.ru запрещено:
            </MudText>
            <br>
            <MudText Typo="Typo.body1">
                3.1.1 Оскорблять участников Проекта, переходить на личности.
            </MudText>
            <br>
            <MudText Typo="Typo.body1">
                3.1.3 Размещать личную информацию третьих лиц.
            </MudText>
            <br>
            <MudText Typo="Typo.body1">
                3.1.4 Использовать нецензурную брань (мат) в никнейме.
            </MudText>
            <br>
            <MudText Typo="Typo.body1">
                3.1.5 Оскорбление Пользователей и членов Администрации вне Проекта недопустимо и рассматривается индивидуально Админстраторским составом в таких случаях.
            </MudText>
            <br>
            <MudText Typo="Typo.body1">
                3.1.6 Злоупотреблять системой репортов (отправлять 2 и более репортов на 1 человека с одного Аккаунта).
            </MudText>
            <br>
            <MudText Typo="Typo.body1">
                3.2 На сервере TeamSpeak3 запрещено:
            </MudText>
            <br>
            <MudText Typo="Typo.body1">
                3.2.1 Использовать никнеймы, в которых содержатся оскорбительные или нецензурные слова, реклама иных ресурсов, расизм, национализм, фашизм, экстремизм, разжигание ненависти, пустые ники.
            </MudText>
            <br>
            <MudText Typo="Typo.body1">
                3.2.2 Реклама сторонних ресурсов, других TeamSpeak3 серверов, проектов (в описании канала, в имени Пользователя, в названии канала).
            </MudText>
            <br>
            <MudText Typo="Typo.body1">
                3.2.3 Запрещен флуд (в личные сообщения Пользователей, общий чат) Пользователям или Администраторам.
            </MudText>
            <br>
            <MudText Typo="Typo.body1">
                3.2.4 Выдавать группу канала Chanel Admin всем подряд. Если у Администратора возникает трудость установить владельца канала, Администратор имеет право удалить этот канал.
            </MudText>
            <br>
            <MudText Typo="Typo.body1">
                3.2.5 Заходить на различные каналы пользователей без разрешения, влезать в разговор Пользователю с VIP привилегией.
            </MudText>
            <br>
            <MudText Typo="Typo.body1">
                3.2.6 Выпрашивание админок / випок / разбана / размута.
            </MudText>
            <br>
            <MudText Typo="Typo.body1">
                3.3 На игровых серверах запрещено:
            </MudText>
            <br>
            <MudText Typo="Typo.body1">
                3.3.1 Никнеймы:
            </MudText>
            <br>
            <MudText Typo="Typo.body1">
                3.3.1.1 Никнеймы и клан-теги, содержащие в себе любую рекламу, фашизм, экстремизм, ссылки на сторонние ресурсы, оскорбления Игроков/Администрации.
            </MudText>
            <br>
            <MudText Typo="Typo.body1">
                3.3.1.2 Никнеймы, содержащие плагиат текущих ников Администраторов Проекта.
            </MudText>
            <br>
            <MudText Typo="Typo.body1">
                3.3.2 Игровой процесс:
            </MudText>
            <br>
            <MudText Typo="Typo.body1">
                3.3.2.1 Умышленные действия, препятствующие нормальному игровому процессу других Игроков, т.е. грифинг/троллинг (умышленное удерживание бомбы или ее закидывание в недоступные места, стрельба в голову союзникам, загораживание снайперам обзора, бросание световых гранат перед союзниками и т.д.).
            </MudText>
            <br>
            <MudText Typo="Typo.body1">
                3.3.2.2 Мониторинг Игроков противоположной команды, когда вы мертвы / играете за другую команду (сообщение местоположения вражеских Игроков через любую стороннюю связь: Discord, Skype, TeamSpeak3 соцсети, мессенджеры и т.д.).
            </MudText>
            <br>
            <MudText Typo="Typo.body1">
                3.3.2.3 Запуск и использование Стороннего ПО (п 1.5).
            </MudText>
            <br>
            <MudText Color="Color.Error" Typo="Typo.body1">
                3.3.2.4 Использование багов, дающих любые преимущества над другими Игроками (баги карты, разминирование через стены, щели и отверстия в стенах карты, баги игрового мода, бесконечная закупка гранат, любые внутри проектные и системные баги, возникшие в ходе разработки и любые другие вновь выявленные баги)
            </MudText>
            <br>
            <MudText Typo="Typo.body1">
                3.3.2.5 Выход во время игры в Matchmaking (находясь в лобби, до запуска матча, во время матча).
            </MudText>
            <br>
            <MudText Typo="Typo.body1">
                3.3.3 Голосовой и текстовый чат:
            </MudText>
            <br>
            <MudText Typo="Typo.body1">
                3.3.3.1 Пользоваться плохо настроенным или сломанным микрофоном.
            </MudText>
            <br>
            <MudText Typo="Typo.body1">
                3.3.3.2 Любые неадекватные действия с микрофоном: крики, свист, музыка.
            </MudText>
            <br>
            <MudText Typo="Typo.body1">
                3.3.3.3 Флуд чата однотипными сообщениями.
            </MudText>
            <br>
            <MudText Typo="Typo.body1">
                3.3.3.4 Оскорбления других Игроков/Администрации. Ответ оскорблением на оскорбление также считается нарушением.
            </MudText>
            <br>
            <MudText Typo="Typo.body1">
                3.3.3.5 Реклама сторонних ресурсов, не относящихся к Проекту.
            </MudText>
            <br>
            <MudText Typo="Typo.body1">
                3.3.3.6 Использование программы HLDJ, ClownFish и других подобных программ.
            </MudText>
            <br>
            <MudText Typo="Typo.body1">
                3.3.3.7 Подстрекательство к бану Игроков, которые не нарушают правил Проекта.
            </MudText>
            <MudText Typo="Typo.body1">
                3.3.3.8 На миксах, если Вы за КТ постоянно пушите, при этом за Т вы почти не выходите с респы или сидите до конца раунда.
            </MudText>
            <br>
            <MudText Typo="Typo.body1">
                3.4 На Проекте также запрещено:
            </MudText>
            <br>
            <MudText Typo="Typo.body1">
                3.4.1 Разжигать ненависть или вражду, унижать достоинства Пользователей Проекта и их родных по признакам пола, расы, национальности, языка, происхождения, насилия, отношения к религии, а равно принадлежности к какой-либо социальной группе.
            </MudText>
            <br>
            <MudText Typo="Typo.body1">
                3.4.2 Обсуждать политику в любом виде, размещать в изображениях ClientMod профиле/любых сообщениях символику/лозунги/призывы использующиеся военными любой из сторон, флаги и символику непризнанных государств, любых политических партий, запрещенных и террористических организаций.
            </MudText>
            <br>
            <MudText Typo="Typo.body1">
                3.4.3 Создавать более одного Аккаунта. При обнаружении такие Аккаунты блокируются безвозвратно.
            </MudText>
            <br>
            <br>
            <MudText Typo="Typo.h5">4. Наказания за нарушение правил Проекта.</MudText>
            <MudText Typo="Typo.body1">
                4.1 Следующие виды наказания применяются к Пользователям, которые нарушили правила Проекта:
            </MudText>
            <br>
            <MudText Typo="Typo.body1">
                4.1.1 Предупреждение: п. 3.1.1 | п. 3.1.4 | п. 3.2.1 | п. 3.2.6 | п. 3.3.3.1 | п. 3.3.3.6.
            </MudText>
            <br>
            <MudText Typo="Typo.body1">
                4.1.2 Блокировка Пользователя на 24 часа: п. 3.1.1 - 3.1.4 | п. 3.1.6 | п. 3.2.1 | п. 3.2.3 | п. 3.2.5 | п. 3.2.6 | п. 3.3.2.1 - 3.3.2.2 | п. 3.3.2.5 | п. 3.3.3.
            </MudText>
            <br>
            <MudText Typo="Typo.body1">
                4.1.3 Блокировака Пользователя на 7 дней: п. 3.1.1 - 3.1.4 | п. 3.1.6 | п. 3.2.1 - 3.2.6 | п. 3.3.1 | п. 3.3.2.4 | п. 3.3.3 | п. 3.4.1 - 3.4.2.
            </MudText>
            <br>
            <MudText Typo="Typo.body1">
                4.1.4 Блокировка Пользователя навсегда: п. 3.3.2.3 | п. 3.4.
            </MudText>
            <br>
            <MudText Typo="Typo.body1">
                4.2 Все сроки блокировок показательны и обозначают тяжесть нарушения.
            </MudText>
            <br>
            <MudText Typo="Typo.body1">
                4.3 Администратор оставляет за собой право выбрать любой вид блокировки, если пункт правил указан в 2-х и более видах блокировок.
            </MudText>
            <br>
            <MudText Typo="Typo.body1">
                4.4 Блокировка пользователя оспариванию и обжалованию с Администрацией не подлежит.
            </MudText>
            <br>
            <br>
            <MudText Typo="Typo.h5">5. Заключение.</MudText>
            <MudText Typo="Typo.body1">
                5.1 Администрация Проекта оставляет за собой право изменять данные правила в любое время без уведомления пользователей об этом.
            </MudText>
            <br>
            <MudText Typo="Typo.body1">
                5.2 Администрация имеет полное право на свободу действия в области развития и контроля Проекта.
            </MudText>
            <br>
            <MudText Typo="Typo.body1">
                5.3 Последнее слово остается за Администратором.
            </MudText>
            <br>
        </MudPaper>
    </MudItem>
</MudGrid>